body{
  max-width:1200px;
  width:100%;
  margin:0 auto;
}

input{
  margin:5px 5px 0 0;
}

.comments{
  margin:0 auto;
}

.avatar{
  float: left;
  height: auto;
  margin-right: 20px;
  width: 50px;
}

.logout{
  float: right;
  margin-top: 24px;
}
