body{
  max-width:1200px;
  width:100%;
  margin:20px auto;
}

input{
  margin:5px 5px 0 0;
}

.comments{
  margin:0 auto;
}

.avatar{
  float: left;
  height: auto;
  margin-right: 20px;
  width: 50px;
}

.logout{
  float: right;
  margin-top: 24px;
}

.panel{
  padding: 0 20px 20px ;
}

.search{
margin-top: 20px;
}

img{
  width:250px;
  height:250px;
  margin: 10px 20px 10px 0;
}
